.popular-tag {
  padding: 5px 10px 10px;
  background: #f3f3f3;
  border-radius: 4px;
  height: 300px;
}

.tag-section {
  display: flex;
  flex-wrap: wrap;
}

.tag-default {
  display: inline-block;
  margin-left: 20px;
  color: #fff !important;
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: 0.2rem;
  background-color: #818a91;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}
